<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinForms.Properties.Settings>
            <setting name="RootFolderDeleteCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RootFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OneproviderToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Onezone" serializeAs="String">
                <value />
            </setting>
            <setting name="OneproviderTokenKeep" serializeAs="String">
                <value>False</value>
            </setting>
        </WinForms.Properties.Settings>
    </userSettings>
</configuration>